[submodule "submodules/ch_frb_l1"]
	path = submodules/ch_frb_l1
	url = https://github.com/MilesCranmer/ch_frb_l1
	branch = miles/dev
[submodule "submodules/ch_frb_L1b"]
	path = submodules/ch_frb_L1b
	url = git@github.com:CHIMEFRB/ch_frb_L1b.git
[submodule "submodules/bonsai"]
	path = submodules/bonsai
	url = git@github.com:CHIMEFRB/bonsai.git
[submodule "submodules/simd_helpers"]
	path = submodules/simd_helpers
	url = https://github.com/kmsmith137/simd_helpers
[submodule "submodules/sp_hdf5"]
	path = submodules/sp_hdf5
	url = https://github.com/kmsmith137/sp_hdf5
[submodule "submodules/ch_frb_io"]
	path = submodules/ch_frb_io
	url = https://github.com/CHIMEFRB/ch_frb_io
[submodule "submodules/bitshuffle"]
	path = submodules/bitshuffle
	url = https://github.com/kiyo-masui/bitshuffle
[submodule "submodules/rf_pipelines"]
	path = submodules/rf_pipelines
	url = https://github.com/kmsmith137/rf_pipelines
[submodule "submodules/simpulse"]
	path = submodules/simpulse
	url = https://github.com/kmsmith137/simpulse
